@model Hospital

<h2 style="color: forestgreen">@Model.Nombre</h2>
<h2 style="color: dodgerblue">@Model.Direccion</h2>
<h2 style="color: palevioletred">@Model.Telefono</h2>
<h2 style="color: orangered">@Model.Camas</h2>

@Html.ActionLink("Volver a Index", "Index", "Hospitales")