@model Empleado

<a asp-controller="Empleados" asp-action="Index">Volver a Index</a>
<h1 style="color: blue">Detalles de @Model.Apellido</h1>
<h2>Id: @Model.IdEmpleado</h2>
<h2>Apellido: @Model.Apellido</h2>
<h2>Oficio: @Model.Oficio</h2>
<h2>Salario: @Model.Salario</h2>
<h2>Departamento: @Model.Departamento</h2>